li {
    margin-bottom: 10px;
    font-size: 2rem; 
}

h1,h2{
    font-family: 'Lato', sans-serif;
}

/*section hero(presentaciones)*/

.img-presentacion{
  display: flex;          
  align-items: flex-start; 
  gap: 30px;            
  max-width: 1000px;      
  margin: 0 auto;
}

.presentacion-leyenda{
    font-size: 2rem;
    gap: 30px;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
}

.secciones{
    background-color: #EBDED1 !important;
    padding: 2px;
}

.lista-estrellas {
  list-style-type: "⭐"; 
  padding-left: 1.5rem;   
  font-family: 'Playfair Display', serif;
}

.lista-hojas{
  list-style-type: "🍃"; 
  padding-left: 1.5rem;  
  font-family: 'Playfair Display', serif; 
}

.lista-lunas{
  list-style-type: "🌙"; 
  padding-left: 1.5rem;  
  font-family: 'Playfair Display', serif;
}

.lista-estrellas, .lista-hojas, .lista-lunas {
    list-style-position: inside; /* Mantiene el emoji alineado con el texto centrado */
    padding: 0;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: inline-block; /* Permite que el contenedor se ajuste al texto */
    text-align: left;      /* Alinea el texto a la izquierda pero el bloque estará centrado */
}

/* Contenedor para centrar el bloque de la lista */
.ul-container {
    text-align: center;
}

/* --- Barra de Navegación --- */
.navbar{
    background-color: #b4936d !important;
    padding: 1rem 0;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    color: #2b2b2b;
}

.nav-link:hover {
    color: #fdfaf5 !important;
    opacity: 0.8;
}

.logo {
    width: 100px !important; 
    transition: transform 0.3s;
    height: auto;
}

.title{
   font-family: "Dancing Script", cursive;
}

.imagenPresentacion {
    width: 100%;
    height: auto;
    display: block;
}

/*-- imagen presentacion (MEDIA QUERY)--*/

@media (max-width: 768px) {

    .imagenPresentacion {
        width: 100%;
        height: 380px;
        object-fit: cover;
        object-position: center 25%;
    }

    .secciones{
        padding:0;
        margin:0;
    }

}
/* --- Footer --- */
footer{
    background-color: #b4936d !important;
    padding: 1rem 0;
}
