/* --- Configuración Global --- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background-color: #fdfaf5; /* Blanco cálido */
    color: #4a3f35;
}

/* --- Barra de Navegación --- */
.navbar{
    background-color: #b4936d !important;
    padding: 1rem 0;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    color: #2b2b2b;
}

.nav-link:hover {
    color: #fdfaf5 !important;
    opacity: 0.8;
}

.logo {
    width: 100px !important; 
    transition: transform 0.3s;
    height: auto;
}

/* --- Sección Hero (Principal) --- */
.text-principal {
    font-size: 3.5rem !important;
    color: #8d775f ;
    line-height: 1.1;
}

.leyend-principal {
    font-size: 1.5rem !important;
    color: #6c757d;
}

.btn-principal{
    background-color: #b4936d;
    color: white;
    border: none;

    font-size: 1.2rem;
    font-weight: 600;

    padding: 16px 32px;

    border-radius: 999px;
    width: 90%;

    transition: all .3s ease;
}

.btn-principal:hover{
    background-color: #a58460;
    transform: translateY(-2px);
}

.section-principal{
    min-height: clamp(500px, 70vh, 750px) !important; /*nunca menos de 500px, idelmente 70% de pantalla y nunca mas de 750px*/
    overflow: hidden !important;
}

.hero-img{
    width: 100%;
    display: block;
    object-fit: cover;
}

/* --- Talleres y Cards --- */
.card {
    transition: transform 0.3s;
    border-radius: 20px !important;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-10px);
}

/* --- Footer --- */
footer{
    background-color: #b4936d !important;
    padding: 1rem 0;
}

/* --- RESPONSIVIDAD (Media Queries) --- */

@media (max-width: 768px) {
    .text-principal {
        font-size: 2.5rem !important;
        text-align: center;
    }
    

    .titulos {
        font-size: 2.2rem !important;
    }

    .nav-link {
        font-size: 1.5rem !important; 
        text-align: center;
        padding: 10px 0;
    }
}

@media (max-width: 768px){

    .section-principal{
        min-height: auto !important;
        overflow: visible !important;
    }

    .hero-img{
        width: 100%;
        height: auto;
        display: block;
    }

    .text-principal,
    .leyend-principal{
        text-align: center;
    }

    .d-grid{
        justify-content: center;
    }
}
