
/* --- Configuración Global --- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background-color: #fdfaf5; /* Blanco cálido */
    color: #4a3f35;
}

/* --- Barra de Navegación --- */
.navbar{
    background-color: #b4936d !important;
    padding: 1rem 0;
}

.nav-link {
    font-size: 2rem !important; 
    font-weight: 500;
    color: white !important;
    transition: 0.3s;
}

.nav-link:hover {
    color: #fdfaf5 !important;
    opacity: 0.8;
}

.logo {
    width: 100px !important; 
    transition: transform 0.3s;
    height: auto;
}

/* --- Sección Hero (Principal) --- */
.text-principal {
    font-size: 3.5rem !important;
    color: #8d775f ;
    line-height: 1.1;
}

.leyend-principal {
    font-size: 1.5rem !important;
    color: #6c757d;
}

.btn-principal {
    background: #b4936d !important;
    color: white !important;
}

.btn-principal:hover {
    background: #b4936d !important;
    color: white !important;
}

.section-principal{
    min-height: 50vh;
}

.hero-img{
    width: 100%;
    height: 100%;
    min-height: 50vh !important;
    object-fit: cover;
}

/* --- Talleres y Cards --- */
.card {
    transition: transform 0.3s;
    border-radius: 20px !important;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-10px);
}

/* --- Footer --- */
footer{
    background-color: #b4936d !important;
    padding: 1rem 0;
}

/* --- RESPONSIVIDAD (Media Queries) --- */

/* Celulares (Menos de 768px) */
@media (max-width: 768px) {
    .text-principal {
        font-size: 2.5rem !important;
        text-align: center;
    }
    

    .titulos {
        font-size: 2.2rem !important;
    }

    .nav-link {
        font-size: 1.5rem !important; /* Un poco más grande para el menú hamburguesa */
        text-align: center;
        padding: 10px 0;
    }


}
/* --- RESPONSIVIDAD (Media Queries) --- */

@media (max-width: 768px) {
    .text-principal {
        font-size: 2.5rem !important;
        text-align: center;
    }
    

    .titulos {
        font-size: 2.2rem !important;
    }

    .nav-link {
        font-size: 1.5rem !important; 
        text-align: center;
        padding: 10px 0;
    }
}

@media (max-width: 766px){

    .section-principal{
        min-height: auto;
    }

    .hero-img{
        min-height: auto;
        height: auto;
        object-fit: contain;
    }

    .text-principal,
    .leyend-principal{
        text-align: center;
    }

    .d-grid{
        justify-content: center;
    }
}
