<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Tobias Velez">
    <meta name="description" content="Portal Álmico - Terapias vibracionales para la sanación del alma">
    <meta name="keywords" content="terapia, reiki, energia, alma, berazategui, portal almico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="/static/index.css">
    <link rel="icon" type="image/x-icon" href="/static/logo.svg">
    

    <title>Portal Álmico</title>
</head>
<body>

   <nav class="navbar navbar-expand-md bg-body-tertiary py-4 shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', path='logo.svg') }}" alt="Portal-Alm" class="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-toggler">
                <ul class="navbar-nav ms-auto align-items-center gap-2">
                    <li class="nav-item  fw-semibold"><a class="nav-link fs-1" href="/presentacion">¿Quiénes somos?</a></li>
                    <li class="nav-item  fw-semibold"><a class="nav-link fs-1" href="/ubicacion">Ubicación</a></li>
                    <li class="nav-item  fw-semibold"><a class="nav-link fs-1" href="/cursos">Talleres</a></li>
                    <li class="nav-item  fw-semibold"><a class="nav-link fs-1" href="/reservas">Reserva Turnos</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="section-principal container my-4 my-md-5 p-0 rounded-5 shadow-sm bg-white">
        <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
            <div class="col-md-5 p-4 p-md-5 d-flex flex-column justify-content-center">
                <h1 class="text-principal fw-bold mb-2">Portal Álmico</h1>
                <p class="leyend-principal mb-4 text-muted">Terapias vibracionales para la sanación del alma.</p>
                <div class="d-grid d-md-flex">
                    <a href="/reservas" class="btn btn-principal btn-lg rounded-pill px-4">
                        PEDIR TURNO
                    </a>
                </div>
            </div>
            <div class="col-md-7">
                <img src="/static/sensaciondelalma1.jpg"
                    class="hero-img img-fluid w-100 d-block"
                     alt="Sanación del alma">
            </div>
        </div>
    </section>

    <section class="my-5 bg-light" style="background-color: #A88168 !important;">
        <div class="container-fluid py-5 text-white" style="min-height: 50vh;">
        
            <h2 class="fw-bold mb-5 text-center fs-1">Talleres recientes:</h2>
        
            <div class="row g-4 justify-content-start">
                {% if talleres and talleres|length > 0 %}
                    {% for taller in talleres[:3] %} 
                    <div class="col-md-6 col-lg-4 d-flex justify-content-center">
                    
                        <div class="card shadow-sm h-100 border-0 text-dark w-100">
                            <img src="{{ taller.imagen }}" class="card-img-top" alt="{{ taller.nombrecurso }}">
                                <div class="card-body d-flex flex-column text-center">
                                    <h5 class="card-title fw-bold text-principal fs-4">{{ taller.nombrecurso }}</h5>
                                    <p class="card-text text-muted small">{{ taller.descripcion }}</p>
                                    <p class="mt-auto fw-bold fs-3">mes: {{taller.mes}} </p>
                                    <a href="#" class="btn btn-principal rounded-pill mt-3 mx-auto">Inscribirse ahora</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-12 text-center text-white-50 py-5">
                        <p class="fs-4 mb-2 text-white">Próximamente anunciaremos nuevos talleres.</p>
                        <p class="fs-6 opacity-75">¡Estate atento a nuestras novedades!</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <footer class="py-5 footer-custom mt-auto">
        <div class="container">
            <div class="row g-4 text-center align-items-center h-100">
                <div class="col-12 col-md-3">
                    <h4 class="fw-bold fs-3">Teléfono</h4>
                    <p class="fs-4">011 3311-3647</p>
                </div>
                <div class="col-12 col-md-3">
                    <h4 class="fw-bold fs-3">Email</h4>
                    <p class="fs-4 text-break">cintiagalindez2020@gmail.com</p>
                </div>
                <div class="col-12 col-md-3">
                    <h4 class="fw-bold fs-3">Dirección</h4>
                    <p class="fs-4">Calle 142, Nº 1032<br>Berazategui</p>
                </div>
                <div class="col-12 col-md-3">
                    <img src="/static/logo.svg" width="120" alt="Logo Portal Álmico">
                </div>
            </div>
        </div>
    </footer>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

        <script>
            async function checkHealth() {
                try {
                    const res = await fetch("/health");
                    console.log("Health Check Status:", res.status);
                } catch (e) {
                    console.warn("Health check error");
                }
            }
            setInterval(checkHealth, 600000);
        </script>
    </body>
</html>


