<!DOCTYPE html>
<html lang="en">
<head>
    <!--metadatos-->
    <meta charset="UTF-8">
    <meta name="author" content="Tobias Velez">
    <meta name="description" content="terapia vibraciones">
    <meta name="keywords" content="terapia,reiki,energia,alma">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--logo-->
    <link rel="icon" type="image/x-icon" href="{{url_for('static', path='logo.svg')}}">

    <!--boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--css-->
    <link rel="stylesheet" href="/static/css/ubicacion.css">
    
    <!--titulo-->
    <title>Portal Almico - Ubicacion</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Great+Vibes&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    
    <!--boostrap js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!--barra navegacion-->
    <nav class="navbar navbar-expand-md bg-body-tertiary py-3 fs-2 shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="/inicio">
                <img src="{{ url_for('static', path='logo.svg') }}" alt="Portal-Alm" class="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-toggler">
                <ul class="navbar-nav ms-auto align-items-center gap-2">
                    <li class="nav-item  fw-semibold"><a class="nav-link fs-1 text-white" href="/presentacion">¿Quien Soy?</a></li>
                    <li class="nav-item  fw-semibold"><a class="nav-link fs-1 text-white" href="/ubicacion">Ubicación</a></li>
                    <li class="nav-item  fw-semibold"><a class="nav-link fs-1 text-white" href="/cursos">Talleres</a></li>
                    <li class="nav-item  fw-semibold"><a class="nav-link fs-1 text-white" href="/reservas">Reserva Turnos</a></li>
                </ul>
            </div>
        </div>
    </nav>

<!--ubicacion-->
<section class="ubicacion-exacta py-5">
  <div class="container-fluid">

    <div class="row mb-4">
      <div class="col text-center">
        <h1 class="titulos title">¿Dónde estamos?</h1>
      </div>
    </div>

    <div class="row">
      <div class="col position-relative">

        <div class="ratio ratio-16x9">
          <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3277.776734937506!2d-58.22070622482594!3d-34.76121657289821!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32f30d3d501ad%3A0x6824b0db6226de94!2sC.%20142%201032%2C%20B1884LQH%20Berazategui%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1772491236086!5m2!1ses-419!2sar"
            style="border:0;"
            allowfullscreen=""
            loading="lazy">
          </iframe>
        </div>

      </div>
    </div>
  </div>
</section>

<!--footer-->

  <footer class="py-5 footer-custom mt-auto">
        <div class="container">
            <div class="row g-4 text-center align-items-center h-100">
                <div class="col-12 col-md-3">
                    <h4 class="fw-bold fs-3">Teléfono</h4>
                    <p class="fs-4">011 3311-3647</p>
                </div>
                <div class="col-12 col-md-3">
                    <h4 class="fw-bold fs-3">Email</h4>
                    <p class="fs-4 text-break">cintiagalindez2020@gmail.com</p>
                </div>
                <div class="col-12 col-md-3">
                    <h4 class="fw-bold fs-3">Dirección</h4>
                    <p class="fs-4">Calle 142, Nº 1032<br>Berazategui</p>
                </div>
                <div class="col-12 col-md-3">
                    <img src="/static/logo.svg" width="120" alt="Logo Portal Álmico">
                </div>
            </div>
        </div>
  </footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</html>


